@import "../../styles/colors.scss";
@import "../../styles/media.scss";

.header-container{
  width: 100vw;
  height: fit-content;
  align-items: center;
  justify-content: flex-end;
  padding: 21px;
  box-sizing: border-box;
  position: fixed;
  display: none;

  button{
    border: none;
    background: none;
    padding: 0px;
  }

  @include tablet {
    display: flex;
    z-index: 99999;
  }

  @include mobile {
    display: flex;
    z-index: 99999;
  }
}