@import "../../styles/colors.scss";
@import "../../styles/media.scss";

.game-page-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .game{
    &-board{
      width: 100%;
      padding: 122px 96px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: $black-5;

      &--text{
        width: 100%;
        font-weight: 600;
        font-size: 32px;
        color: $black-100;
        box-sizing: border-box;


        @include mobile {
          text-align: center;
          padding: 0px 20px;
        }

        @include tablet {
          text-align: center;
          padding: 0px 20px;
        }
      }

      @include mobile {
        padding: 136px 0px 60px 0px;
      }

      @include tablet {
        padding: 136px 0px 60px 0px;
      }

      @include laptop {
        padding: 70px 40px;
      }
    }

    &-questions{
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white-100;

      &--open{
        transform: translate(0px, 0px) !important;
      }

      @include mobile {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-99999px, 0px);
      }

      @include tablet {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-99999px, 0px);
      }
    }
  }
}